 .input-text {
/* width: 100%; */
height: 32px;
padding: 6px 10px;
font-size: 12px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ddd;
border-radius: 3px;
/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.group-select .legend {
margin-top: -33px;
float: left;
border: 1px solid #f19900;
background: #F9F3E3;
padding: 0 8px;
color: #E76200;
font-weight: bold;
font-size: 1.1em;
}
.group-select .legend {
padding: 5px;
border-radius: 3px;
}
