
body{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 12px;
	color: #444444;
	line-height: 1.42857143;
	text-align: left;
	background-color: rgb(0, 204, 255);
}
	
.container{
	position: relative;
	min-height: 800px;
	width: 1140px;
	min-width: 900px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	margin : 30px 50px;
	background-color: white;
	border-radius: 8px;
}
ul, ol {
list-style: none;
}
.search-box{
height: 15 px;
padding: 6px 10px;
font-size: 12px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ddd;
border-radius: 3px;
}
.clear:after, .clear:before{
content: ".";
display: block;
clear: both;
font-size: 0;
line-height: 0;
height: 0;
overflow: hidden;
}
.clearfix:after,.clearfix:before{
clear: both;
display: table;
content: " ";}
label{
font-weight: bold;
display: inline-block;
margin-bottom: 5px;
}
a.top:link,a.top:visited,a.top:active {
color: #00aaf1;
text-decoration: none;
}
a.top:hover{
color: #2a6496;
text-decoration: none;
}
.search{
float: left;
width:45%;
padding-left: 10%;
margin: 20px 10px;
}
.login-button{
text-align: left;
width:30%;
margin: 20px;
padding:10px;
float:right;}