.b-cart a, .b-alert-cart a {
color: #00aaf1;
}
.notice {
color: #e26703;
}
.b-cart__content {
/*width: 740px;
float: right; */
background: #fff;
}
.checkout-2 input, .b-success input, .b-unsuccess input, .b-cart input, .b-alert-cart input, .checkout-2 select, .b-success select, .b-unsuccess select, .b-cart select, .b-alert-cart select, .checkout-2 textarea, .b-success textarea, .b-unsuccess textarea, .b-cart textarea, .b-alert-cart textarea {
-webkit-border-radius: 5px !important;
-moz-border-radius: 5px !important;
border-radius: 5px !important;
vertical-align: text-bottom !important;
border: 1px solid #ddd;
box-shadow: inset 0 1px 3px #f2f2f2;
-webkit-transition: .3s linear border;
-moz-transition: .3s linear border;
-ms-transition: .3s linear border;
-o-transition: .3s linear border;
transition: .3s linear border;
}
button, input, optgroup, select, textarea {
margin: 0;
font: inherit;
color: inherit;
}
.b-cart__qty {
font-size: 15px;
font-style: italic;
margin-left: 5px;
font-weight: normal;
text-transform: none;
}
.b-cart__block-title {
padding: 2px 0 2px 0;
border-bottom: 1px solid #eee;
margin-bottom: 10px;
font-size: 12px;
}

.b-cart__block-title span {
display: block;
text-align: left;
float: left;
font-weight: bold;
}


.b-cart__block-item {
width: 59%;
}
.b-cart__block-title .b-cart__block-price {
width: 100px;
text-align: center;
}
.b-cart__block-title .b-cart__block-qty {
width: 75px;
text-align: center;
}
.b-cart__block-title .b-cart__block-price {
width: 100px;
text-align: center;
}
.b-cart__block-title .b-cart__block-total-price {
width: 60px;
text-align: right !important;
}
/*---*/

.b-cart__item-list {
max-height: auto;
_height: 190px;
overflow: auto;
}
.b-cart__item-list .b-cart__item {
position: relative;
height: 150px;
padding-bottom: 0px;
margin-bottom: 5px;
border-bottom: 1px solid #eee;
}
.b-cart__item-list .b-cart__item-img {
display: block;
width: 90px;
position: absolute;
left: 0;
}
.b-cart__item-list .b-cart__item-box {
margin-left: 100px;
padding-top: 3px;
}
.b-cart__item-list .b-cart__item:last-child {
border-bottom: none !important;
margin: 0 !important;
padding: 0 !important;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-detail {
margin-right: 350px;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-detail a {
font-weight: normal;
color: #444;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-price {
position: absolute;
right: 270px;
top: 3px;
}
.b-cart__item-list .b-cart__item-box .price {
color: #444;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-qty {
position: absolute;
right: 170px;
top: 0;
text-align: center;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-qty .b-cart__qty-input {
width: 27px !important;
text-align: center;
margin: 0;
height: 27px;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-qty .b-cart__item-qty-update {
display: block;
font-size: 11px;
color: #999;
text-decoration: underline;
margin-top: 2px;
}
.price {
white-space: nowrap !important;
}
.b-cart__item-price_discount {
position: absolute;
right: 87px;
top: 3px;
}
.b-cart__item-list .b-cart__item-box .b-cart__item-price-total {
position: absolute;
right: 0px;
top: 3px;
}
.b-cart__item-list .b-cart__item-box .b-cart__attribute {
padding-left: 15px;
font-size: 11px;
margin-top: 5px;
}
.brand-box-cart {
margin-top: 5px;
}
.b-cart__item-list .b-cart__item-box .b-cart__attribute .b-cart__attribute-item {
color: #777;
}
.b-cart__update {
text-align: right;
margin: 10px 0 7px 0;
}
.b-cart__update .b-cart__update-btt {
padding: 4px 12px !important;
font-size: 11px !important;
}
 .b-cart .btt_normal, .b-alert-cart .btt_normal {
color: #666;
box-shadow: 0 -2px 0 #bababa inset;
text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
background: linear-gradient(to bottom, #eeeeee 0%, #dfdfdf 100%);
}
.b-cart button{
border: none!important;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-weight: bold;
}
/*---*/
.b-cart__summary {
border-top: 1px solid #eee;
margin-top: 5px;
padding-top: 10px;
background: #ffffff;
z-index: 100;
}
 .b-cart__summary .b-cart__benefit {
width: 490px;
float: left;
}
 .b-cart__summary .b-cart__benefit .b-cart__sale {
min-height: 90px;
}
 .b-cart__summary .b-cart__benefit .b-cart__xu {
float: left;
width: 45%;
}
.b-cart__summary .b-cart__benefit .b-cart__sale {
min-height: 90px;
}
 .b-cart__summary .b-cart__benefit .b-cart__xu .b-cart__xu-title {
font-size: 14px;
margin-bottom: 5px;
}
.b-cart__benefit .b-cart__coupon {
float: right;
width: 52%;
}
.b-cart__benefit .b-cart__coupon .b-cart__coupon-title {
font-size: 14px;
margin-bottom: 5px;
}
.b-cart__benefit .b-cart__coupon .b-cart__coupon-box {
margin-top: 7px;
}
.b-cart__summary .b-cart__benefit .b-cart__coupon .b-cart__coupon-input {
width: 140px;
margin: 0;
vertical-align: middle !important;
height: 27px;
line-height: 27px;
padding: 4px 6px;
border-radius: 3px;
}
.b-cart__summary .b-cart__benefit .b-cart__coupon .b-cart__coupon-btt {
margin: 0;
padding: 5px 10px;
font-size: 12px;
margin-left: 5px;
}
.b-cart__summary .b-cart__total-price {
width: 225px;
float: right;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price_sub {
font-weight: bold;
font-size: 14px;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price-item {
padding: 3px 0;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price_sub span.b-cart__total-price-name {
font-size: 13px;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price-item .b-cart__total-price-name {
text-align: left;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price-item span {
display: inline-block;
width: 49%;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price-item .b-cart__total-price-value {
text-align: right;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price-item {
padding: 3px 0;
}
.b-cart__summary .b-cart__total-price-list .b-cart__total-price_final {
color: #333;
padding-top: 10px;
margin-top: 5px;
border-top: 1px solid #eee;
font-weight: bold;
font-size: 16px;
}
.b-cart__VAT {
text-align: right;
width: 225px !important;
font-weight: normal;
font-size: 11px;
margin-top: 2px;
}
.b-cart__summary .b-cart__checkout {
margin-top: 10px;
}
.b-cart__summary .b-cart__checkout .b-cart__checkout-btt {
width: 100% !important;
font-size: 16px !important;
padding: 8px;
position: relative;
}
.checkout-2 .btn__add-to-cart, .b-success .btn__add-to-cart, .b-unsuccess .btn__add-to-cart, .b-cart .btn__add-to-cart, .b-alert-cart .btn__add-to-cart {
/* background: #fd4040; */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd4040), color-stop(100%, #d71b1b)); */
/* background: -webkit-linear-gradient(top, #fd4040 0%, #d71b1b 100%); */
background: linear-gradient(to bottom, #fd4040 0%, #d71b1b 100%);

box-shadow: 0 -2px 0 #a80000 inset;
}
.mybutton{
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-weight: bold;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}