
.header {
margin: 0 0 10px 0;
padding: 0px 20px;
border: 1px solid #ddd;
background-color: #fafafa;
border-radius: 3px
}
#nav {
    height:200px;
    width:45%;
    float:left;
    padding:5px; 
	border: 1px solid #ddd;
background-color: white;
border-radius: 3px
}

#section {
    width:49%;
	height:200px;
    float: right;
    padding:5px; 
	border: 1px solid #ddd;
background-color: white;
border-radius: 3px
}
h3{
background: none !important;
margin: 0 0 10px 0;
font-size: 16px;
font-weight: bold;
padding: 0 0 10px 0;
color: #444;
background-repeat: no-repeat;
border-bottom: 1px solid #ddd;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;}
.signin-button{
background: linear-gradient(to bottom, #32befb 0%, #19a5e1 100%);
border: none!important;
box-shadow: 0 -2px 0 #0788bf inset;
padding: 6px 14px;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;border-radius: 5px;
font-size: 12px;
font-weight: bold;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
line-height: 1.6;
}
.form-item{font-size: 13px;
font-weight: bold;
}
.form-list{}
ul{list-style: none;
padding: 0;
margin: 0;}
li:after,orange:after {
content: ".";
display: block;
clear: both;
font-size: 0;
line-height: 0;
height: 0;
overflow: hidden;
}
