.report-problem textarea {
width: 90%;
min-height: 160px;
padding: 5px;
height: 33px;
border-color: #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
line-height: 20px;
float: left;
margin-top: 10px;
margin-bottom: 14px;
}
.report-problem .signin-button {
background: linear-gradient(to bottom, #32befb 0%, #19a5e1 100%);
float: left;
border: none!important;
box-shadow: 0 -2px 0 #0788bf inset;
padding: 8px 12px;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border-radius: 5px;
font-size: 12px;
font-weight: bold;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
overflow: visible;
margin-bottom: 20px;
}
.report-problem{
margin-left: 10px;}