.search h4{
color: #E65505;
font-size: 1.1em;
text-transform: uppercase;
}
.head {
margin-bottom: 10px;
border-bottom: 1px solid #d9dde3;
line-height: 20px;
padding-bottom: 4px;
}
.search-book .b-id {
width: 240px;
float: left;
}
label.label-dob {
font-weight: normal;
color: #888;
font-size: 10px;
}
.search-book .b-name {
width: 320px;
float: left;
margin-left: 20px;
}
.search-book  input,.search-book  button{
margin: 5px 10px;
}
.search  button{
width: auto;
height: 25px;
border-color: #05b2e9 !important;
color: #fff;
text-transform: uppercase;
text-align: center;
background: #05b2e9;
padding: 6px 20px;
font-weight: bold;
border: 1px solid transparent;
border-radius: 2px;
}
.search-book .b-search--button{
float: left;
}
.books-table a .b-name{
font-weight: normal;
color: #444;
}
.over{
overflow:auto;
}