body{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 12px;
	color: #444444;
	line-height: 1.42857143;}
.container{position: relative;
min-height: 400px;
width: 1170px;
min-width: 1010px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;}
#head-login{

font-size: 1.7em !important;
font-weight: normal !important;
text-transform: none !important;
color: #333;
text-align: left;
padding: 5px 0 10px 0;
margin: 0 0 15px 0;
border-bottom: 2px solid #ccc;
line-height: 30px;
}
.orange{
padding: 5px;
border-radius: 3px;
margin-top: -33px;
float: left;
border: 1px solid #f19900;
background: #F9F3E3;
color: #E76200;
font-weight: bold;
font-size: 1.1em;}
#field-box{
display: block;
border-radius: 3px;
margin: 33px 0 15px;
padding: 22px 25px 12px;
border: 1px solid #ddd;}
ul, ol {
display: block;
list-style: none;
padding: 0;
margin: 0;}
li:after,orange:after {
content: ".";
display: block;
clear: both;
font-size: 0;
line-height: 0;
height: 0;
overflow: hidden;
}
label{
font-weight: bold;
display: inline-block;
margin-bottom: 5px;
}
.text-box{
float: left;
width: 226px;
margin-bottom: 20px;
}
.form-text{
height: 32px;
padding: 6px 10px;
font-size: 12px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ddd;
border-radius: 3px;}